.icon {
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;

  fill: currentColor;
  will-change: transform; /* Prevent cropped/blurry icons on Firefox */
}

@responsive {
  .icon--75 {
    width: 18px;
    height: 18px;
  }

  .icon--100 {
    width: 24px;
    height: 24px;
  }

  .icon--150 {
    width: 36px;
    height: 36px;
  }

  .icon--200 {
    width: 48px;
    height: 48px;
  }
}
